VITE_SUPABASE_URL=https://uvlkjbqmvyrnomtjxvmf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2bGtqYnFtdnlybm9tdGp4dm1mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyMTk3OTcsImV4cCI6MjA0NTc5NTc5N30.JxfOtt18xe0dkyB6JUlrqtgd7pvfdDHtjJTvic0gf7Q